<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qin.dao.TeacherMapper">
<!--  方式一  -->
    <select id="getTeacherByID" resultMap="stu_teacher">
        select s.id sid,s.name sname,s.tid stid,t.id tid,t.name tname
        from student s ,teacher t
        where s.id = t.id and t.id = #{tid};
    </select>
    <resultMap id="stu_teacher" type="Teacher">
        <result column="tname" property="name"/>
        <result column="tid" property="id"/>
        <collection property="students" ofType="Student">
            <result column="sname" property="name"/>
            <result column="sid" property="id"/>
        </collection>
    </resultMap>
<!--    方式二-->
<!--    <select id="getTeacherByID2" resultMap="st">-->
<!--        select-->
<!--    </select>-->
<!--    <resultMap id="st" type="Teacher"></resultMap>-->
</mapper>